<!--The content below is only a placeholder and can be replaced.-->
<!--模板-->
<div style="text-align:center">
  <!--<h1>
    Welcome to {{ title }}!
  </h1>
   <input type="text" [(ngModel)]="name"/><br/>
  {{name}}-->
 <!-- <app-my-component></app-my-component>-->
 <!-- <div *ngIf="showSkills">
    <button (click)="toggleSkills()">
      {{ showSkills ? "隐藏Skills" : "显示Skills" }}
    </button>
    <ul>
    <li *ngFor="let skill of skills">
      {{skill}}
    </li>
    </ul>
    <form (submit)="addSkill(skill.value)">
      <table>添加skill</table>
      <input type="text" #skill>
    </form>
  </div>-->
  <app-member></app-member>
</div>


